<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hyperwallet.android.ui">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:networkSecurityConfig="@xml/network_security_config" tools:targetApi="n">
        <activity
            android:name="com.hyperwallet.android.ui.transfermethod.view.AddTransferMethodActivity"
            android:label="@string/title_activity_add_transfer_method"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="com.hyperwallet.android.ui.transfermethod.view.UpdateTransferMethodActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:exported="false"
            android:name="com.hyperwallet.android.ui.transfermethod.view.SelectTransferMethodActivity"
            android:label="@string/mobileAddTransferMethodHeader"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- This setting is removed temporarily [android:exported="false"] since it will not work functionally
                 team is looking into fixing the security issue from another ticket -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="com.hyperwallet.intent.action.SELECT_TRANSFER_METHOD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hyperwallet.android.ui.transfermethod.view.ListTransferMethodActivity"
            android:label="@string/mobileTransferMethodsHeader"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>