<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hyperwallet.android.hyperwallet_ui.test">

    <application android:name="com.hyperwallet.android.HyperwalletInstrumentedTestApplication">

    </application>

</manifest>