<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hyperwallet.android.ui.receipt.test">

    <application
        android:name="com.hyperwallet.android.ui.receipt.HyperwalletInstrumentedTestApplication">

    </application>

</manifest>