<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hyperwallet.android.ui.transfer">

    <application>
        <activity
            android:name=".view.ListTransferDestinationActivity"
            android:label="@string/destination"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
