<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hyperwallet.android.ui.receipt">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">
        <activity
            android:name=".view.ListPrepaidCardReceiptActivity"
            android:label="@string/title_activity_receipt_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.ReceiptDetailActivity"
            android:label="@string/title_activity_receipt_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ListUserReceiptActivity"
            android:label="@string/title_activity_receipt_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.TabbedListReceiptActivity"
            android:label="@string/title_activity_receipt_list"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>